<form action="/users" method="POST" id="signup">

  <p>Organization Info</p>

  <%- partial('partials/_input', {name: 'orgName', label: 'Organization name: '}) %>
  <%- partial('partials/_input', {name: 'EIN', label: 'EIN: '}) %>
  <%- partial('partials/_input', {name: 'website', label: 'Website: '}) %>

  <div class="input-row">
    <label><span>Address: </span>
      <input type="text" name="address.street" placeholder="Street address">
      <input type="text" name="address.zip" placeholder="Zipcode">
    </label>
  </div>

  <%- partial('partials/_input', {name: 'phone', label: 'Phone number: '}) %>

  <p>Representaive Info</p>

  <div class="input-row">
    <label><span>Full name: </span>
      <input type="text" name="representative.firstName" placeholder="First name">
      <input type="text" name="representative.lastName" placeholder="Last name">
    </label>
  </div>

  <div class="input-row">
    <label><span>Date of birth: </span>
      <input type="text" name="representative.DOB.month" placeholder="Month">
      <input type="text" name="representative.DOB.day" placeholder="Day">
      <input type="text" name="representative.DOB.year" placeholder="Year">
    </label>
  </div>

  <%- partial('partials/_input', {name: 'representative.SSN', label: 'SSN (last four digits): '}) %>

  <p>Login Info</p>

  <div class="input-row">
    <input type="text" placeholder="Enter your email" name="email">
  </div>

  <div class="input-row">
    <input type="password" placeholder="Enter your password" name="password">
  </div>

  <div class="input-row">
    <input type="password" placeholder="Verify your password" name="passwordVerify">
  </div>

  <div class="input-row">
    <input type="submit" value="Sign Up">
  </div>
</form>