<form action="/users" method="POST" id="signup">

  <p class="signup-section">Organization Info</p>

  <%- partial('partials/_input', {name: 'orgName', placeholder: 'Organization name'}) %>
  <%- partial('partials/_input', {name: 'EIN', placeholder: 'EIN'}) %>
  <%- partial('partials/_input', {name: 'website', placeholder: 'Website'}) %>
  <%- partial('partials/_input', {name: 'address.street', placeholder: 'Street address'}) %>
  <%- partial('partials/_input', {name: 'address.zip', placeholder: 'Zipcode'}) %>
  <%- partial('partials/_input', {name: 'phone', placeholder: 'Phone number'}) %>

  <p class="signup-section">Representaive Info</p>

  <%- partial('partials/_input', {name: 'representative.firstName', placeholder: 'First name'}) %>
  <%- partial('partials/_input', {name: 'representative.lastName', placeholder: 'Last name'}) %>
  <p>Date of Birth:</p>

  <div class="input-row">
    <input class="birthday" type="text" name="representative.DOB.month" placeholder="Month">
    <input class="birthday" type="text" name="representative.DOB.day" placeholder="Day">
    <input class="birthday" type="text" name="representative.DOB.year" placeholder="Year">
  </div>

  <%- partial('partials/_input', {name: 'representative.SSN', placeholder: 'SSN (last four digits)'}) %>

  <p class="signup-section">Login Info</p>

  <%- partial('partials/_input', {name: 'email', placeholder: 'Enter your email'}) %>

  <div class="input-row">
    <input type="password" placeholder="Enter your password" name="password">
  </div>

  <div class="input-row">
    <input type="password" placeholder="Verify your password" name="passwordVerify">
  </div>

  <div class="input-row">
    <input class="form-submit"type="submit" value="Sign Up">
  </div>
</form>