    <div class="col-sm-9">
      <div class="text-filler">
      <!-- column 2 -->
        <strong>
          <div class="org-name">
            <h1>
              <%= user.orgName %>
            </h1>
          </div>
        </strong>
        <div class="row">
            <!-- center left-->
          <div class="col-md-6">

              <div class="org-panel">
                <h4>Organization Information:</h4>
              </div>
                    <div class="org-info">
                      <p>Email: <%= user.email %></p><hr>
                      <p>EIN: <%= user.EIN %></p><hr>
                      <p>Address: <%= user.address.street + ' '+ user.address.zip %></p><hr>
                      <p>Website: <%= user.website %></p><hr>
                      <p>Representative:
                        <ul>
                          <li>Name: <%= user.representative.firstName + ' ' + user.representative.lastName %></li>
                          <li>Date of Birthday: <%= user.representative.DOB.month + " " + user.representative.DOB.day + " " + user.representative.DOB.year %></li>
                        </ul>
                      </p><hr>
                      <p>Phone Number: <%= user.phone %></p>

                    </div>

              <!--/panel-->

              <div class="container">
                <div class="col-md-4">
                </div>
              </div>


          </div><!--/col-->

          <div class="col-md-6">

              <div class="panel-heading">
                <!-- logic to display either a link to sync your stripe id or iframe tag depending if user has synced account-->
                <% if (user.stripe_user_id === '') { %>
                <a href="/users/authorize"><button class="connect-stripe">Click here to connect your Stripe account</button></a>
              <% } else { %>
                <p>Awesome! Thanks for syncing your account with Stripe. Just copy this code specially made for your organization and paste it somewhere in the body of your website's html tag and you're good to go. The widget is exactly 210px(width) by 400px(height), so make sure you save enough space!</p>
                <hr>
                <div class="iframe-tag">
                  <xmp><iframe src="https://smooth-transaction.herokuapp.com/iframe" name="<%- user.stripe_publishable_key %>" height="450px" width="190px" align="center" frameborder="0" allowTransparency="true"></iframe></xmp>
                </div>
              <%} %>
              </div>

          <!--/panel-->


          </div><!--/col-span-6-->
        </div><!--/row-->
      </div>
    </div><!--/col-span-9-->
