<div class="orgAnalysis">

  <h3>Your Organization's Donation Analysis</h3>

  <div class="donation-analysis" id="earning-today">
    <h4>Donation Earning Today</h4>
    <h1>$<%- org.dailyTotal %></h1>
  </div>
  <div class="donation-analysis" id="earning-month">
    <h4>Donation Earning This Month</h4>
    <h1>$<%- org.monthlyTotal %></h1>
  </div>
  <div class="donation-analysis" id="balance">
    <h4>Current Deposible Balance</h4>
    <h1>$<%- org.currentBalance %></h1>
  </div>
  <div class="donation-analysis" id="total-earnings">
    <h4>Total Earnings To Date</h4>
    <h1>$<%- org.totalEarnings %></h1>
  </div>
  <div class="donation-analysis" id="total-donations">
    <h4>Total Number of Donations To Date</h4>
    <h1><%- org.totalDonations %></h1>
  </div>
  <div class="donation-analysis" id="avg-donations">
    <h4>Average Donations Per Transaction</h4>
    <h1>$<%- (org.totalEarnings / org.totalDonations) %></h1>
  </div>

  <div class="donation-analysis" id="barchart"></div>

</div>

<script type='text/javascript' src='javascripts/organizationAnalysis.js'></script>